<mat-sidenav-container>
  <h1>Angular Material Datepicker</h1>
  <h3>Dia</h3>
  <mat-form-field>
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dayPicker" placeholder="Selecciona la fecha"
      [value]="date.value" (dateChange)="onDaySelected($event)" disabled>
    <mat-datepicker-toggle matSuffix [for]="dayPicker"></mat-datepicker-toggle>
    <mat-datepicker #dayPicker disabled="false"></mat-datepicker>
  </mat-form-field>
  <br>
  <h3>Semana</h3>
  <mat-form-field>
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="weekPicker" placeholder="Selecciona la fecha"
      (dateChange)="onWeekSelected($event)" disabled>
    <mat-datepicker-toggle matSuffix [for]="weekPicker"></mat-datepicker-toggle>
    <mat-datepicker #weekPicker disabled="false"></mat-datepicker>
  </mat-form-field>
  <br>
  <h3>Dia con input separado</h3>
  <mat-form-field>
    <input [hidden]="true" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dayPicker2" placeholder="Selecciona la fecha"
      (dateChange)="onDaySelected($event)" disabled>
    <mat-datepicker #dayPicker2 disabled="false"></mat-datepicker>
    <input disabled placeholder={{dates}} value="{{dates}}">
  </mat-form-field>
  <button mat-raised-button (click)="dayPicker2.open()">Open</button>
  <br>
  <h3>Semana con input separado</h3>
  <mat-form-field>
    <input [hidden]="true" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="weekPicker2" placeholder="Selecciona la fecha"
      (dateChange)="onWeekSelected($event)" disabled>
    <mat-datepicker-toggle matSuffix [for]="weekPicker2"></mat-datepicker-toggle>
    <mat-datepicker #weekPicker2 disabled="false"></mat-datepicker>
    <input disabled placeholder={{dates2}} value="{{dates2}}">
  </mat-form-field>
  <button mat-raised-button (click)="weekPicker2.open()">Open</button>
</mat-sidenav-container>